<div>
  <app-header></app-header>
  <div class="px-4 mx-auto my-10 max-w-7xl sm:px-6 lg:px-8">
    <h1 class="flex justify-center font-extrabold tracking-widest text-8xl">
      <span>Juan James</span>
    </h1>
    <h2 class="flex justify-center text-4xl font-semibold tracking-widest">
      <span class="z-10 initial">Software <span class="subtitle">Developer & UI/UX Designer</span></span>
    </h2>
    <div class="flex items-center justify-center -mt-20">
      <div class="flex flex-col items-start">
        <p class="text-3xl">Frontend Engineer</p>
        <button class="px-3 py-2 text-2xl font-medium text-gray-300 rounded-md hover:bg-gray-700 hover:text-white">Get in touch</button>
      </div>
      <img src="assets/images/man.png" class="z-0 initial" alt="MAN">
      <div class="flex flex-col items-end">
        <p class="text-3xl">Based in Florina in Greece</p>
        <button class="px-3 py-2 text-2xl font-medium text-gray-300 rounded-md hover:bg-gray-700 hover:text-white">Learn more</button>
      </div>
    </div>
    <div class="flex justify-center mt-8">
      <img src="assets/images/skills.png" class="h-32" alt="skills">
    </div>
    <div class="grid grid-cols-5 gap-10 mt-8">
      <div class="relative flex flex-col justify-start col-span-2">
        <img src="assets/images/services.png" class="absolute size-24" alt="services">
        <p class="mt-16 text-7xl">Services That I Offer</p>
        <p class="text-2xl">Transforming visions into vibrant digital experiences with custom UI/UX design and responsive frontend development.</p>
      </div>
      <div class="flex flex-col items-end col-span-3">
        <div class="flex justify-between w-full gap-10 py-5 border-t-2 border-gray-800">
          <p class="text-3xl">01/</p>
          <p class="text-6xl">Frontend Development</p>
          <img src="assets/images/arrow.png" class="size-20" alt="arrow">
        </div>
        <div class="flex justify-between w-full gap-10 py-5 border-t-2 border-gray-800">
          <p class="text-3xl">02/</p>
          <p class="text-6xl">Website & App Design</p>
          <img src="assets/images/arrow.png" class="size-20" alt="arrow">
        </div>
        <div class="flex justify-between w-full gap-10 py-5 border-t-2 border-b-2 border-gray-800">
          <p class="text-3xl">03/</p>
          <p class="text-6xl">User Testing & Research</p>
          <img src="assets/images/arrow.png" class="size-20" alt="arrow">
        </div>
      </div>
    </div>
    <div class="grid grid-cols-5 gap-10 mt-8">
      <div class="relative flex flex-col items-center justify-start col-span-2">
        <img src="assets/images/smile.png" class="absolute w-80" alt="services">
      </div>
      <div class="flex flex-col items-end justify-center col-span-3">
        <p class="text-5xl leading-loose">"I thrive on building frontend wonders that scale smoothly, while sprinkling them with delightful user experiences!"</p>
      </div>
    </div>

    <div class="flex flex-col items-center mt-8">
      <p class="relative text-6xl">
        Latest Projects
        <img src="assets/images/💻.png" class="absolute -bottom-5 -right-11 size-16" alt="💻">
      </p>
      <img src="assets/images/projects.png" class="mt-10" alt="">
    </div>

    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide">asd</div>
        </div>
    </div>

    <div class="flex flex-col mt-16 gap-y-10">
      <div class="flex gap-10 pb-5 border-b-2 border-slate-700">
        <div class="text-4xl">
          01/
        </div>
        <div class="text-6xl grow">
          MovieFlix - OnlineMovies & TVShowsApplication
        </div>
        <div>
          <img src="assets/images/arrow_down.png" alt="Arrow Down">
        </div>
      </div>
      <div class="flex gap-10 pb-5 border-b-2 border-slate-700">
        <div class="text-4xl">
          02/
        </div>
        <div class="text-6xl grow">
          SmartHome Control Interface Redesign
        </div>
        <div>
          <img src="assets/images/arrow_down.png" alt="Arrow Down">
        </div>
      </div>
      <div class="flex gap-10 pb-5 border-b-2 border-slate-700">
        <div class="text-4xl">
          03/
        </div>
        <div class="text-6xl grow">
          HealthTracker - Mobile App
        </div>
        <div>
          <img src="assets/images/arrow_down.png" alt="Arrow Down">
        </div>
      </div>
      <div class="flex gap-10 pb-5 border-b-2 border-slate-700">
        <div class="text-4xl">
          04/
        </div>
        <div class="text-6xl grow">
          TravelHaul - The Best Travelling Assistant
        </div>
        <div>
          <img src="assets/images/arrow_down.png" alt="Arrow Down">
        </div>
      </div>
    </div>


    <div class="mt-10">
      <div>
        <p class="text-5xl">Get In Touch</p>
      </div>

      <div class="flex flex-col gap-10 mt-10">
        <div class="flex justify-between">
          <div class="w-2/5">
            <label for="fullName" class="text-xl">Full Name</label>
            <input type="text" name="fullName" class="w-full text-2xl border-b-2 outline-none customized-input border-slate-700" placeholder="Enter Your Name">
          </div>
          <div class="w-2/5">
            <label for="mail" class="text-xl">Mail</label>
            <input type="text" name="mail" class="w-full text-2xl border-b-2 outline-none customized-input border-slate-700" placeholder="Enter Mail">
          </div>
        </div>
        <div class="flex items-center gap-10">
          <div class="w-full">
            <label for="message" class="text-xl">Message</label>
            <textarea name="message" rows="3" placeholder="Don't Be Shy, Write A Sweet Message &#10;And Send it Now" class="w-full text-2xl border-b-2 outline-none customized-input border-slate-700"></textarea>
          </div>
          <div>
            <button class="px-10 py-2 border-none rounded-lg bg-slate-900 hover:bg-slate-600 active:bg-slate-700">Send</button>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
