.subtitle {
  background: -webkit-linear-gradient(0deg, #FFF, #333, #FFF, #FFF, #FFF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.customized-input {
  background: none;
}